* {
    font-family: 'Montserrat';

}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 16px;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mainLogo {
    width: 240px;
    height: 75px;
}

ul {
    list-style-type: none;
    padding: 12px;
}

li {
    display: inline;
    padding: 12px;
    font-size: 16px;
}

.heroImage {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73));
    position: relative;
    /* right: -233px; */
    height: 500px;
    zoom: 1.5;
}

.heroImageText {
    width: 35%;
    position: absolute;
    top: 80px;
    left: 200px;
    max-height: 500px;
}

.heroImageText>h1 {
    font-size: 60px;
    font-weight: 500;
}

button {
    outline: none;
    border: 0px;
    padding: 18px 38px;
}

button:hover {
    cursor: pointer;
}

.featuredIn {
    margin: 0;
    padding: 20px;
    width: 100%;
    background-color: #f4f6f6;
}

.logos {
    width: 60%;
    margin: auto;
}

.whatIDo>h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    padding-top: 80px;
}

.whatIDo>p {
    padding: 0px 300px;
    text-align: center;
    margin-bottom: 26px;
}

.activitesDiv {
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 75%;
    margin: auto;
    color: white;
}

.activitesDiv>div {
    background-color: #075AAE;
    padding: 60px 40px;
    width: 350px;
}

.activitesDiv>div>h1 {
    font-size: 40px;
    font-weight: 500;
}

.activitesDiv>div>p {
    line-height: 30px;
}

.activitesDiv>div>button {
    border: 1px solid white;
    background: transparent;
    color: white;
}

.activitesDiv>div>hr {
    width: 50px;
    border-top: 1px solid #0274be;
    margin: 0 199px 0 0;
}

.provide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    gap: 5%;
    margin: auto;
    margin-top: 30px;
}

.provide>* {
    background-color: #f4f6f6;
}

.advice {
    width: 29%;
    padding: 60px 40px;
    height: 250px;
}

.ebooks {
    width: 79%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.ebooks>span>img {
    position: absolute;
    bottom: 0px;
    height: 250px;
}

.ebooks>div {
    position: absolute;
    left: 200px;
    max-width: 80%;
    padding: 70px 50px 0 40px;
}

.ebooks>div>h1 {
    font-size: 21px;
    font-weight: 500;
}

.ebooks>div>p {
    line-height: 30px;
}

.provide>div>h1 {
    font-size: 21px;
    font-weight: 500;
}

.provide>div>p {
    line-height: 30px;
}

.provideButtons {
    background-color: #075AAE;
    color: white;
}

.testimonial {
    padding: 80px 0;
    position: relative;
}

.testimonial>div {
    position: absolute;
    top: 40%;
    color: white;
    max-width: 40%;
    right: 20px;
}

.testimonial>div>* {
    margin-top: 20px;
}

.testimonial>div>h1 {
    font-size: 40px;
    font-weight: 500;
}

.testimonial>div>p {
    line-height: 30px;
}

.testimonial>div>hr {
    width: 50px;
    border-top: 1px solid white;
    margin: 0 199px 0 0;
}

.story {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.story>img {
    width: 444px;
    height: 614px;
}

.story>div>h1 {
    font-size: 40px;
    font-weight: 500;
}

.story>div>p {
    line-height: 28px;
}

.lastLine {
    background-color: #0274be;
    margin-top: 80px;
    padding: 100px 30px;
}

.lastLine>h1 {
    width: 50%;
    color: white;
    margin: auto;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}

footer {
    padding: 30px;
}